@use "../../styles/utils" as *;

.Q5-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 vw(20);
    box-sizing: border-box;

    .content-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex: 67;
    }
    .action-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: vw(8);
        flex: 13;

        & > button {
            flex: 1;
        }
    }
}
