// figma 정의 스타일
$primary-orange: #FF822E;
$light-orange: #FFD9C0;
$gray-border: #E2E2E2;
$gray-background: #F2F2F2;
$gray-text: #848B9C;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $gray-border;
    background-color: white;
    color: $gray-text;
    transition: all 0.2s ease;        // 클릭시 부드러운 효과 
    font-family: "Pretendard Variable", sans-serif;
    line-height: 140%;
    letter-spacing: 2.4%;

    // 1. 선택형 버튼 (Q1, Q2 스타일)
    &.button-select {
        border-radius: 30px;

        font-size: 18px;
        font-weight: 600;

        &.clicked {
            border-color: $primary-orange;
            background-color: $light-orange;
            color: $primary-orange;
        }
    }

    // 2. 태그형 버튼 (Q3 스타일)
    &.button-tag {
        border-radius: 40px;

        font-size: 12px;
        font-weight: 500;
        
        &.clicked {
            border-color: $primary-orange;
            background-color: $light-orange;
            color: $primary-orange;
        }
    }

    // 3. 다음 액션 버튼 
    &.button-next-action {
        border-radius: 30px;

        font-size: 18px;
        font-weight: 600;

        // '다음' 혹은 '제출하기'가 활성화된 상태
        &.active {
            background-color: $primary-orange;
            color: white;
        }

        &:active {
            transform: scale(0.97); // 터치 시 눌리는 효과
        }
    }

    // 4. 이전 액션 버튼
    &.button-prev-action {
        border-radius: 30px;

        font-size: 18px;
        font-weight: 600;

        background-color: $gray-background;
    }

    // 버튼 크기 조절 (추후 vh 단위로 변경 필요)
    &.button-lg {
        width: 100%;
        height: 70px;
    }

    &.button-md {
        width: 100%;
        height: 56px;
    }

    &.button-sm {
        display: inline-flex;
        padding: 0 16px;
        margin: 4px;
        width: auto;
        height: 34px;
    }
}