.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.form-wrapper {
    flex: 90;
    display: flex;
    flex-direction: column;
}