@use "../../styles/utils" as *;

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 10;
    gap: vw(10);
    padding: 0 vw(20);
    box-sizing: border-box;

    .progress-segment {
        width: vw(10);
        height: vw(10);
        background-color: #F2F2F2;
        border-radius: 50%;
        transition: all 0.3s ease;

        &.active {
            width: vw(35);
            height: vw(10);
            background-color: #FF822E;
            border-radius: vw(10);
        }
    }
}
